
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Patua+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Lora&family=Patua+One&display=swap');


div {
    font-family: 'Lora', serif;

}

.title {
    display: flex;
    flex-direction: row;
}


.error {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-width: 10px;
    border-color: black;
    margin-top: 50%;
    text-align: center;
    width: 50%;
    max-width: 300px;
    left:50%; 
    transform: translate(-50%);
}


.title-img {
    margin-top: 10px;
    flex: 1 1; 
    max-width: 30px;
    max-height: 30px
}

.title-text {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Patua One', cursive;
    font-size: 40px;
    flex: 1 1;
    text-align: center;
}


.game {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;

}

.Tile {
    display: flex;
    flex: 1 1;
    aspect-ratio: 1 / 1;
    max-width: 50px;
    background-color: white;
    margin: 3px;
    border-width: 3px;
    border-color: darkgrey;
    border-style: solid;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}


.BoardRow {
    display: flex;
    align-items: center;
    justify-content: center;  
}

/*   flex: [max] [min] [ideal size]; */

.Key {
    border-radius: 5px;
    display: flex;
    flex: 1 1;
    padding: 15px 10px;
    background-color: lightgrey;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    margin: 2px 1px;
    border: 0px;
}

.Key:hover {
    background-color: grey;
}



.Board {
    margin: 0px;
}

.KeyBoard {
    margin-top: auto;
    max-width: 660px;
}


.KeyBoardRow {
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center; 
}


.finished {
    position: absolute;
    background-color: white;
    border-width: 4px;
    border-color: grey;
    border-style: solid;
    margin-top: 50%;
    text-align: center;
    width: 80%;
    max-width: 800px;
    left:50%; 
    transform: translate(-50%);
}

/*https://css-tricks.com/understanding-flex-grow-flex-shrink-and-flex-basis/*/


.full-label {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    display: block;
}

.full-label input {
    width: 100%;
}

input {
    display: block;
}


.share-button {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    margin-bottom: 10px;
}

#create-button {
    margin: 10px auto;
    width: 50%;
    height: 30px;
}


.form-field {
    margin: 20px 0;
    border-width: 0px;
    border-top: 3px;
    border-color: black;
    border-style: solid;
}